/* DIV A */
div:nth-child(1) {
  border-color: purple;
  box-shadow: 15px 15px 20px red;
}

/* DIV B */
div:nth-child(2) {
  border-color: lime;

  box-shadow: 
    inset 6px 0 10px black,   /* LEFT */
    inset 0 6px 10px black;   /* TOP */
}

/* DIV C */
div:nth-child(3) {
  border-radius: 25px;

  box-shadow:
    0 0 0 10px orange,
    0 0 0 20px blue,
    0 0 0 30px red,
    0 0 0 40px green;
}

/* DIV D */
div:nth-child(4) {
  border-color: brown;
  text-shadow: 2px 2px 3px gray;
}